@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap'); 

*{margin:0px;padding:0px;}

@keyframes fadeIn {   
	0%   {opacity: 0%;}   
	100% {opacity: 100%;} 
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
	height:100vh;
	display:flex;
	flex-direction:column;
	background-size:cover;
}

.Banner{
	position:absolute;
	top:0px;
	border-radius:20px;
	display:flex;
	justify-self:center;
	align-self:center;
	width:98vw;
	padding-top:10px;
	height:8vh;
	justify-content:center;
	align-items:center;
}

.searchBar{
	display:flex;
	align-items:center;
	height:60%;
	width:40%;
	padding:2px;
	border-radius:20px;
	background-color:white;
}

.searchImage{
	padding-left:10px;
	height:20px;
}

.searchBar__input{
	border-radius:20px;
	width:100%;
	flex-grow:1;
	padding-left:10px;
	height:100%;
	border:none;
}

.searchBar__input:focus{
	outline:none;
}

.pageContainer{
	flex-grow:1;
	height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;
}

.LocationList{
	display:flex;
	align-items:center;
	justify-content:center;
	background-color:white;
	box-shadow: 0px 0px 2px 1px black;
	border-radius:20px;
	max-height:70vh;
	overflow-y:auto;
	margin-left:auto;
	margin-right:auto;
	max-width:80vw;
	min-width:50vw;
	flex-wrap:wrap;
}

.locationLink{
  text-decoration: none;
	color:black;
	display:flex;
	align-items:center;
	justify-content:center;
}


.LocationCard{
	cursor:pointer;
	border-radius: 20px;
	text-align:center;
	padding:40px;
	margin:10px;
}

.LocationCard h1{
	position: relative;
}

.LocationCard h1:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #f28226;
  transition: 0.4s;
}

.LocationCard h1:hover:after {
  width: 100%;
}

.LocationCard:hover{
	box-shadow: 0px 0px 2px 1px gray;
}

.WeatherView{
	padding:20px;
	display:flex;
	flex-direction:column;
	background-color:white;
	margin-top:50px;
	width:80vw;
	height:80%;
	border-radius:20px;
	overflow-y:auto;
}

.dayRow{
	width:100%;
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content:center;
}

.dayCard{
	border:1px solid gray;
	border-radius:20px;
	box-shadow:1px 1px 9px 1px gray;
	width:200px;
	margin:10px;
	padding:5px;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}

.weather__header{
	position:relative;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%
}

.card__attribute{
	align-items:center;
	justify-content:center;
	display:flex;
	white-space: nowrap;
  overflow: hidden;
	text-overflow: ellipsis;
	width:80%;
	margin-bottom:10px;
} 

.attribute__value{
	margin-left:auto;
}

.imageContainer{
	width:100%;
	border-radius:20px;
	height:100px;
	display:flex;
	justify-content:center;
	margin-bottom:20px;
}

.card__image{
	width:30%;
}

.clickableIcon{
	cursor:pointer;
	margin-right:10px;
	height:30px;
}

.Notification{ 	
	display:flex; 	
	justify-content: center; 	
	align-items: center; 	
	position:absolute; 	
	width:80%; 	
	height:20%; 	
	border-radius:20px;
	z-index:2; 	
	animation-name:fadeIn; 	
	animation-duration:1.5s; 
	box-shadow: 0px 0px 2px 1px black;
} 

.Notification__text{ 	
	color:black; 
} 

.attribute__image.small{
	height: 22px;
}

.attribute__image.large{
	height: 28px;
}

.attribute__image.humidity{
	margin-left: 7px;
}

@media screen and (max-width: 579px) { 
.searchBar{
	height:90%;
	width:70%;
	border-radius:20px;
	padding:2px;
	padding-left:10px;
}

	.locationLink{
		height:40%;
		width:40%;
	}

	.LocationCard{
		padding:5px;
		height:90%;
		width:90%;
	}

	.LocationCard h1{
		width:100%;
		font-size:18px;
		text-align:center;
		text-justify:center;
	}

	.imageContainer{
		margin-bottom:2px;

	}
	.attribute__image.small{
		height: 16px;
	}

	.attribute__image.large{
		height: 18px;
	}
	.attribute__image.humidity{
		margin-left: 4px;
	}
	.clickableIcon{
		position: absolute;
		left:0px;
		top:0px;
	}
}
